<h1 style="text-align: center;">{{titulo}}</h1>

<form>

  <input type="text" name="nombre"[(ngModel)]="nombre"><br/>  <!-- banana in box, directiva ngModel para k lo que se introduzca en el cuadro de texto se almacene en nombre-->
  <input type="text" name="apellido" [(ngModel)]="apellido"><br/>
  <input type="text" name="cargo" [(ngModel)]="cargo"><br/>
  <input type="submit" value="Registrar" (click)="registrarUsuario()"> <br/>

</form>



<br/>

<!-- NGIF NO OCURRE HASTA QUE  SE DESENCADENA LA ACCION-->
<!-- FUNCIONAMIENTO DE ELSE CON NG TEMPLATE,-->
<!-- POR DEFECTO ELSE NO CARGA PERO SI LO ASOCIAS AL TEMPLETE SI-->

<p *ngIf="registrado; else sinRegistrar "> {{mensaje}} con el nombre de {{nombre}} {{apellido}} <!-- EMPLEO DE DIRECTIVA NGIF EN HTML ES UN CONDICIONAL IF, SI REGISTRADO = TRUE, MUESTRAME EL MENSAJE-->
   <!--y tiene el cargo de <span [ngStyle]="{color:cargo=='director' ? 'red':'black'} ">{{cargo}}</span></p>        uso de operador ternario mas NGstyle-->

   y tiene el cargo de <span [ngClass]="{paraDirectores:cargo=='director'} ">{{cargo}}</span></p>  <!--ngClass permite usar hoja de estilos externa css para aplicar estilos a nuestra parte del codigo-->


<ng-template #sinRegistrar>


  <p> Nadie registrado</p>


</ng-template>


<br><br>

<ul>

  <li *ngFor="let entrada of entradas; let i=index"><span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>
  . Entrada {{i+1}}
  
  
  
  </li>  <!-- defineme una variable para cada elemento del array entradas-->
   
</ul>